<div id="<%= dom_id generation %>" class="w-full sm:w-auto my-1 space-y-1 mx-1 space-x-1">
  <% if generation.image.attached? %>
    <%= image_tag generation.image.variant(:thumb), class: "w-[128px] h-[128px] object-cover rounded" %>
  <% else %>
    <div class="w-[128px] h-[128px] flex items-center justify-center bg-gray-100 rounded">
      <div class="h-6 w-6 border-4 border-gray-300 border-t-blue-600 rounded-full animate-spin" aria-label="Generating..."></div>
    </div>
  <% end %>
  <div class="text-xs">
    <%= generation.style_preset %>
  </div>
</div>
