<div id="<%= dom_id generation %>" class="w-full sm:w-auto my-1 space-y-1">
  <%= image_tag generation.image.variant(:thumb), class: "w-[128px] object-cover" if generation.image.attached? %>
  <div>
    <%= generation.style_preset %>
  </div>
</div>
