<div id="<%= dom_id generation %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Style preset:</strong>
    <%= generation.style_preset %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= generation.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Generation array:</strong>
    <%= generation.generation_array_id %>
  </div>
</div>
